/*general*/
*,
html {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
}
/*nav_bar*/
#header #nav_bar nav a{
  margin: 1vw 1vw;
  color: #F0EBCE;
  text-decoration: none;
  font-size: 1.3vw;
  position: relative;
  top: -2vh;
}
#header #nav_bar nav a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #AA8B56;
  position: absolute;
  left: 0;
  bottom: -0.4vh;
  transition: 0.5s;
}
#header #nav_bar nav a:hover::after{
  width: 100%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body {
  padding-top: 3vh;
}


/*header*/
#header {
  background-color: #395144;
  background-size: cover;
  padding: 10%;
  max-height: 75vh;
}
#pic_container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1vw;
}
/*header name_title*/
#name_title h1 {
  margin-top: 7vh;
  color: #AA8B56;
  font-size: 4vw;
}
#name_title #titles {
  color: #F0EBCE;
  margin-top: 1vh;
  font-size: 2vw;
}
#name_title #skills{
  background: none;
}
.skill_header {
  margin-top: 4vh;
  max-width: fit-content;
  font-size: 2vw;
}
.skill_card {
  max-width: fit-content;
  border-radius: 1vw;
  display: inline-block;
  margin-top: 1vh;
  margin-right: 7vw;
  padding: 1vh;
  background-color: #F0EBCE;
  font-size: 2vw;
  border-radius: 1vw;

  transition: background 0.5s, transform 0.5s;
}
.skill_card:hover {
  background: #AA8B56;
  transform: translateY(-10px);
}

/*header pic_resume*/
#profile_img {
  max-width: 25vw;
  border-radius: 1vw;
}
#resume_button {
  font-size: 1vw;
  display: block;
  margin-top: 1vh;
  padding: 1vh;
  width: fit-content;
  border: 1px solid #AA8B56;
  border-radius: 1vw;
  text-decoration: none;
  color: #F0EBCE;
  transition: background 0.5s;
}
#resume_button:hover {
  background: #F0EBCE;
  color: #AA8B56;
}


/*education*/
#education {
  padding: 8%;
  background-color: #AA8B56;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10vw;
}

#lourdes_pic{
  max-width: 20vw;
  border-radius: 1vw;
  margin-left: 7vw;
  margin-top: 4vh;
}
.education_header {
  font-size: 7vw;
  color: #4E6C50;
}
.education_card {
  max-width: fit-content;
  margin-top: 1vh;
  margin-bottom: 7vh;
  padding: 2vw;
  color: #395144;
  font-size: 1.5vw;
}

/* projects */
#projects{
  padding: 5vh 10vw;
  background-color: #4E6C50;
}
.project_title{
  font-size: 5vw;
  max-width: fit-content;
  margin: auto;
  padding-bottom: 1vh;
}
.project_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  grid-gap: 2vw;
  margin-top: 5vh;
}
.project_item{
  border-radius: 2vw;
  position: relative;
  overflow: hidden;
}
.project_item img{
  width: 100%;
  border-radius: 2vw;
  display: block;
  transition: transform 0.5s;
}
.project_item:hover img{
  transform: scale(1.1);
}

.project_desc{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.493), #AA8B56);
  border-radius: 1vw;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}
.project_desc h3{
  color: #F0EBCE;
  font-size: 2vw;
  font-weight: 2vw;
}
.project_desc p{
  color: #F0EBCE;
  font-size: 1.5vw;
  
}
.project_desc a{
  margin-top: 1vw;
  color: black;
  text-decoration: none;
  font-size: 2vw;
  line-height: 3vh;
  background: #F0EBCE;
  width: 3vw;
  height: 3vh;
  border-radius: 50%;
  text-align: center;
  padding: 0.7vw;
}

.project_item:hover .project_desc{
  height: 100%;
}

/*contact me*/
#contact_me{
  background-color: #AA8B56;
}
.row{
  padding-top: 6vh;
  padding-bottom: 6vh;
  margin: 0 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left h1{
  font-size: 4vw;

}
.contact-left p{
  font-size: 1.5vw;
  margin-top: 1vh;
}

.contact-left p i{
 color: #4E6C50;
 margin-right: 1vw;
 font-size: 3vw;
}

.social-icons{
  margin-top: 1vh;
}

.social-icons a{
  font-size: 3vw;
  text-decoration: none;
  margin-right: 1vw;
  color: #4E6C50;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #F0EBCE;
  transform: translateY(-10px);
}

#resume_button2{
  font-size: 2vw;
  display: inline-block;
  margin-top: 1vh;
  padding: 1vh 1vw;
  width: fit-content;
  border: 1px solid #4E6C50;
  border-radius: 1vw;
  text-decoration: none;
  color: #4E6C50;
  transition: background 0.5s;
}

#resume_button2:hover {
  background: #395144;
  color: #4E6C50;
}

.submit-button{
  font-size: 1vw;
  display: inline-block;
  margin-top: 1vh;
  padding: 1vh 1vw;
  width: fit-content;
  border: 1px solid #4E6C50;
  border-radius: 1vw;
  text-decoration: none;
  color: #4E6C50;
  transition: background 0.5s;
}

.submit-button:hover{
  background: #395144;
  color: #4E6C50;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
width: 100%;
border: 0;
background: #F0EBCE;
padding: 0.3vw;
margin: 1vh 0;
color: black;
font-size: 1.5vw;
border-radius: 1vh;
}


#submit_confirm{
  color: #395144;
  margin-top: 1vh;
  display: block;
  font-size: 1vw;
}
